@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700&display=swap');
:root{
    --green: #54E6AF;
    --dark-blue: #2C344B;
    --very-dark-blue: #121725;
    --white: #FFFFFF;
    --pale-blue: #5A668A;
    --very-pale-blue: #C2CBE5;
    font-size: 18px;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Chivo', sans-serif;
}
/* Typography */
body{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
h1:only-of-type{
    margin: 1.4em 0;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--green);
    font-size: clamp(1.3rem, 5.5vw, 2.4rem);
    line-height: clamp(1.2em, 2vw, 1.8em);
}
h1 span{
    color: var(--white);
}
p:only-of-type{
    color: var(--very-pale-blue);
    line-height: 1.8em;
    font-weight: 300;
    font-size: .85rem;
}
.background{
    min-height: 667px;
}
.wrapper{
    height: 100%;
    background-image: url(images/tablet-image-host.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: var(--very-dark-blue);
}
.card{
    margin: 0 auto;
    padding: 3em 0;
    max-width: 325px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}
#form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 2em 1em;
}
#email{
    border-radius: 22px;
    outline: none;
    border: none;
    padding: 1.2em 0 1.2em 1.6em;
    background-color: var(--dark-blue);
    color: var(--very-pale-blue);
}
#primary-btn{
    background-color: var(--green);
    outline: none;
    border: none;
    padding: 1em 2.5em;
    border-radius: 22px;
    color: var(--very-dark-blue);
    font-weight: 700;
    cursor: pointer;
}
#primary-btn:hover{
    opacity: .6;
}
input:focus{
    color: var(--white);
}
.images{
    margin: 1em 0;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-filter: invert(37%) sepia(50%) saturate(306%) hue-rotate(186deg) brightness(94%) contrast(87%);
            filter: invert(37%) sepia(50%) saturate(306%) hue-rotate(186deg) brightness(94%) contrast(87%);
}
.images img{
    height: 100%;
    width: 100%;
    margin: auto .4em;
}
.card::before{
    content: url(images/logo.svg);
}
.order{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
    @media (min-width: 767px){
        .background{
            position: relative;
            height: 100vh;
            background: var(--very-dark-blue);
        }
        .wrapper{
            background-image: url(images/tablet-image-host.jpg);
            background-repeat: no-repeat;
            background-size: auto;
            background-blend-mode: normal;
            position: relative;
            width: 50%;
            margin: 0 35%;
        }
        .card{
            position: absolute;
            top: 277px;
            left: -269px;
            max-width: 573px;
            text-align: left;
            padding: 1em 2.5em;
            background: var(--very-dark-blue);
        }
        .card p{
            padding-right: 13em;
        }
        .order div:first-child{
            -webkit-box-ordinal-group: 3;
                -ms-flex-order: 2;
                    order: 2;
        }
        .card::before{
            top: -200px;
            position: absolute;
        }
        #form{
            position: relative;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            width: 70%;
        }
        #email{
            width: 100%;
        }
        #primary-btn{
            position: absolute;
            right: 0;
        }
    }
    @media (min-width: 1200px){
        .background{
            padding: 3em 0;
            max-height: 900px;
        }
        .wrapper{
            background-image: url(images/desktop-image-host.jpg);
        }
        .card::before{
            top: -154px;
        }
        .card{
            left: -335px;
            top: 136px;
        }
    }